<h1>LoveShtuff</h1>


<div class="ui breadcrumb">
  <div class="active section">Present</a>
  <div class="divider"> / </div>
  <a class="section"><%= link_to "Past", sessions_path %></a>
  <div class="divider"> / </div>
  <a class="section">Future</div>
</div>

<div class="ui blue basic button"><%= link_to "Connect With Foursquare", "/auth/foursquare" %></div>
