<div class="ui breadcrumb">
  <div class="active section">Present</a>
  <div class="divider"> / </div>
  <a class="section">Past</a>
  <div class="divider"> / </div>
  <a class="section">Future</div>
</div>
